<!-- Start Breadcrumb Section -->
<div class="breadcrumb-wrap border-0 py-3" *ngIf="property">
  <div class="container">
    <div class="row gy-2 gx-4 gx-md-5 align-items-center">

      <!-- Back Button -->
      <div class="col-auto">
        <a routerLink="/buyerHome/properties-grid" class="d-flex align-items-center fw-medium text-primary">
          <i class="fa-solid fa-chevron-left me-1"></i> Back To Search
        </a>
      </div>

      <!-- Property Title -->
      <div class="col-auto border-start ps-3" style="max-width: 300px;">
        <h4 class="fs-18 fw-semibold mb-0 text-capitalize text-truncate">
          {{ title }}
        </h4>
      </div>

      <!-- Breadcrumb Path -->
      <div class="col border-start ps-3">
        <ol class="breadcrumb fw-medium mb-0 align-items-center">
          <li class="breadcrumb-item d-flex align-items-center">
            <a routerLink="/" class="text-decoration-none">
              <i class="fa-solid fa-house-chimney-crack fs-18"></i>
            </a>
          </li>
          <li class="breadcrumb-item d-flex align-items-center">
            <a routerLink="/buyerHome/properties-grid" class="text-decoration-none">
              {{ category }}
            </a>
          </li>
          <li class="breadcrumb-item d-flex align-items-center active" aria-current="page">
            {{ title }}
          </li>
        </ol>
      </div>

    </div>
  </div>
</div>
<!-- End Breadcrumb Section -->
