<div class="main-content container">



  <div class="py-5 bg-gradient-primary border-bottom">
    <div class="container py-4">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="section-header text-center mb-5" data-aos="fade-up">
            <div class="bg-soft-primary d-inline-block fw-medium mb-3 rounded-pill section-header__subtitle text-capitalize text-primary">Our Customers</div>
            <h2 class="h1 fw-semibold mb-3 section-header__title text-capitalize">Trusted by <span class="underline position-relative text-primary">thousands</span> of companies</h2>
            <div class="sub-title fs-16"> Our guests always travel the world in style. Mention Kempinski<br class="d-none d-lg-block"> on Instagram for a chance to be featured!</div>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center g-4 g-xl-5">
        <div class="col-6 col-sm-3 col-xxl text-center" data-aos="fade-up" data-aos-delay="100">
          <div class="customer-logo"><img src="assets/img/brand-logo/01.png" alt="" class="img-fluid"></div>
        </div>
        <div class="col-6 col-sm-3 col-xxl text-center" data-aos="fade-up" data-aos-delay="150">
          <div class="customer-logo"><img src="assets/img/brand-logo/02.png" alt="" class="img-fluid"></div>
        </div>
        <div class="col-6 col-sm-3 col-xxl text-center" data-aos="fade-up" data-aos-delay="200">
          <div class="customer-logo"><img src="assets/img/brand-logo/03.png" alt="" class="img-fluid"></div>
        </div>
        <div class="col-6 col-sm-3 col-xxl text-center" data-aos="fade-up" data-aos-delay="250">
          <div class="customer-logo"><img src="assets/img/brand-logo/04.png" alt="" class="img-fluid"></div>
        </div>
        <div class="col-6 col-sm-3 col-xxl text-center" data-aos="fade-up" data-aos-delay="300">
          <div class="customer-logo"><img src="assets/img/brand-logo/05.png" alt="" class="img-fluid"></div>
        </div>
        <div class="col-6 col-sm-3 col-xxl text-center" data-aos="fade-up" data-aos-delay="350">
          <div class="customer-logo"><img src="assets/img/brand-logo/06.png" alt="" class="img-fluid"></div>
        </div>
        <div class="col-6 col-sm-3 col-xxl text-center" data-aos="fade-up" data-aos-delay="400">
          <div class="customer-logo"><img src="assets/img/brand-logo/07.png" alt="" class="img-fluid"></div>
        </div>
        <div class="col-6 col-sm-3 col-xxl text-center" data-aos="fade-up" data-aos-delay="450">
          <div class="customer-logo"><img src="assets/img/brand-logo/08.png" alt="" class="img-fluid"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /. End Customers Section -->

  <!-- Start About Section with AOS -->
  <div class="about-text align-items-center g-4 justify-content-between row py-5 container" data-aos="fade-up">
    <div class="col-md-12 col-lg-7">
      <div class="row g-3 g-sm-4 align-items-center">
        <div class="col-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="position-relative">
            <div class="line-shape"></div>
            <img src="assets/img/about/01.jpg" class="img-fluid rounded-3 position-relative" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="row g-3 g-sm-4">
            <div class="col-12" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/img/about/02.jpg" class="img-fluid rounded-3" alt="">
            </div>
            <div class="col-12" data-aos="zoom-in" data-aos-delay="300">
              <img src="assets/img/about/03.jpg" class="img-fluid rounded-3" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-5 ps-xxl-5" data-aos="fade-left" data-aos-delay="400">
      <div class="text-block">
        <h6 class="fs-14 fw-bold heading-sm l-spacing-1 position-relative text-primary text-uppercase">About</h6>
        <h2 class="mb-4">We make a Difference in your lives</h2>
        <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
        <ul class="list-checked mb-9 mb-md-10 ps-0">
          <li>It is a long established fact that a reader will be distracted by the readable content of a page when looking.</li>
          <li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</li>
          <li>Many desktop publishing packages and web page editors now use Lorem Ipsum.</li>
        </ul>
        <hr class="mt-5">
        <blockquote class="blockquote quote-text">
          <p class="fst-italic mb-0">“The mind has great influence over the body and maladies often have their origin there.”</p>
          <cite class="fs-14 fw-semibold quote-attribution text-dark">— John Doe Molicere</cite>
          <div class="mt-3 signature"> <img src="assets/img/signature.png" alt=""> </div>
        </blockquote>
      </div>
    </div>
  </div>
  <!-- /. End About Section -->
</div>
