<div class="container my-5">
  <div class="card shadow-sm p-4 border-0 rounded-4" >
    <!-- Old Password -->
    <div class="mb-4">
      <label class="form-label fw-semibold">Old Password<span class="text-danger">*</span></label>
      <input type="password" class="form-control rounded-3" placeholder="Type current password">
    </div>

    <!-- New Password -->
    <div class="mb-4">
      <label class="form-label fw-semibold">New Password<span class="text-danger">*</span></label>
      <input type="password" class="form-control rounded-3" placeholder="Confirm your new password">
    </div>

    <!-- Confirm Password -->
    <div class="mb-4">
      <label class="form-label fw-semibold">Confirm Password<span class="text-danger">*</span></label>
      <input type="password" class="form-control rounded-3" placeholder="Confirm your new password">
    </div>

    <!-- Submit Button -->
    <div>
      <button class="btn btn-dark px-4 py-2">Save & Updated</button>
    </div>
  </div>
</div>
