<!-- Start Counter Content -->
<div class="counter-content mt-n5 position-relative section z-1">
  <div class="container-xl position-relative">
    <div class="row">
      <div class="col-12 col-lg-8 position-relative">
        <div class="bg-primary expand-w-start h-100 position-absolute shadow-sm start-0 top-0 w-100"></div>
        <div class="position-relative py-5">
          <div class="row position-relative g-4">

            <div class="col-6 col-sm-3 text-center text-lg-start">
              <p class="fs-1 text-white mb-0">
                <strong #counter class="counter">{{ propertiesListed }}</strong><small> +</small>
              </p>
              <p class="fw-semibold mb-0 text-white">Properties Listed</p>
            </div>

            <div class="col-6 col-sm-3 text-center text-lg-start">
              <p class="fs-1 text-white mb-0">
                <strong #counter class="counter">{{ totalAgents }}</strong><small> +</small>
              </p>
              <p class="fw-semibold mb-0 text-white">Total Agents</p>
            </div>
            <div class="col-6 col-sm-4 text-center text-lg-start">
            <p class="fs-1 text-white mb-0">
              <strong #counter class="counter">{{ totalCities }}</strong><small> +</small>
            </p>
            <p class="fw-semibold mb-0 text-white">Cities Covered</p>
            </div>


        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.End Counter Content -->
