<app-property-header (filterChange)="onFiltersChanged($event)"></app-property-header>

  <div class="container">
    <!-- Start Toolbox -->
    <div class="d-flex flex-wrap align-items-center mb-4 gap-2">
      <h5 class="fw-semibold text-capitalize mb-0 col">(145) Result For All Listing</h5>
      <div class="btn-group ms-auto" role="group" aria-label="Basic example">
        <a routerLink="/buyerHome/properties-grid" class="btn btn-outline-default btn-sm">
          <i class="fa-solid fa-border-all"></i>
        </a>
        <a routerLink="/buyerHome/properties-list" class="btn btn-outline-default btn-sm active">
          <i class="fa-solid fa-table-list"></i>
        </a>
      </div>
    </div>
    <!-- /.End Toolbox -->
    <div *ngIf="properties.length === 0" class="text-center w-100">
      <p class="text-danger fw-bold fs-5">Error: No matching data found for your search criteria.</p>
    </div>
    <!-- Cards Loop (Horizontal Style) -->
    <div *ngFor="let property of properties; let i=index"
         class="card mb-4 overflow-hidden bg-grey border-0 shadow rounded-3" data-aos="fade-up"
         [attr.data-aos-delay]="i * 100" data-aos-duration="1000">

      <a [routerLink] ="['/buyerHome/properties-details', property.id]" [state]="{data:property}" class="card-link"></a>

      <div class="card-body p-0">
        <div class="row g-0">

          <!-- Image -->
          <div class="bg-white col-lg-5 col-md-6 col-xl-3 position-relative">
            <div class="card-image-hover overflow-hidden position-relative h-100">
              <img [src]="property.image" alt="" class="h-100 w-100 object-fit-cover" />
              <div class="card-property-badge d-inline-block end-1 fs-13 fw-semibold position-absolute property-tags px-2 py-1 rounded-3 top-1"
                   [ngClass]="{
                      'bg-white': property.tagColor === 'white',
                      'bg-primary': property.tagColor === 'primary',
                      'text-dark': property.tagTextColor === 'text-dark',
                      'text-white': property.tagTextColor === 'text-white'
                    }">
                {{ property.tag }}
              </div>
            </div>
          </div>

          <!-- Info -->
          <div class="bg-white col-lg-7 col-md-6 col-xl-6 p-3 p-lg-4 p-md-3 p-sm-4">
            <div class="d-flex flex-column h-100">
              <div class="mb-4">
                <h6 class="fs-23 mb-2">{{ property.title }}</h6>
                <div class="fs-16"><i class="fa-solid fa-location-dot"></i> {{ property.address }}</div>
                <div class="mt-3">{{ property.description }}</div>
              </div>
              <div class="border card-property-facilities gap-2 hstack mt-auto p-3 pt-3 rounded-3 text-center">
                <div><i class="fa-solid fa-bed text-dark me-1"></i><span>{{ property.beds }} Beds</span></div>
                <span class="vr"></span>
                <div><i class="fa-solid fa-bath text-dark me-1"></i><span>{{ property.baths }} Baths</span></div>
                <span class="vr"></span>
                <div><i class="fa-solid fa-vector-square text-dark me-1"></i><span>{{ property.size }}</span></div>
              </div>
            </div>
          </div>

          <!-- Price & Actions -->
          <div class="col-lg-12 col-md-12 col-xl-3 p-3 p-lg-4 p-md-3 p-sm-4">
            <div class="row h-100 align-items-center justify-content-center gap-2">
              <div class="col col-xl-12">
                <div class="align-items-sm-center d-sm-flex d-xl-block">
                  <div class="d-flex justify-content-center align-items-end card-property-price flex-row gap-1">
                    <h2 class="m-0 fw-semibold text-primary">{{ property.price }}</h2>
                    <div>/{{ property.period }}</div>
                  </div>
                  <div class="flex-grow-1 mt-2 ms-sm-3 ms-xl-0 mt-xl-2 text-center">
                    <strong class="small fw-semibold">(incl. VAT)</strong>
                    <div class="small">Per booking</div>
                  </div>
                </div>
              </div>
              <div class="col-auto d-flex flex-wrap gap-1 justify-content-center position-relative z-1">
                <button type="button" class="border-0 btn btn-outline-default btn-sm fw-medium shadow-sm">
                  <i class="fa fa-phone fs-14 me-1"></i>Call
                </button>
                <button type="button" class="border-0 btn btn-outline-default btn-sm fw-medium shadow-sm">
                  <i class="fa fa-user-tie fs-14 me-1"></i>Email
                </button>
                <button type="button" class="border-0 btn btn-outline-default btn-sm fw-medium shadow-sm">
                  <i class="fa fa-phone fs-14 me-1"></i>WhatsApp
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Start Pagination -->
    <nav class="align-items-center border-top d-flex flex-wrap justify-content-center justify-content-sm-between pagination mt-5 mb-4">
      <ul class="list-unstyled m-0 pages mt-3">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li>...</li>
        <li><a href="#">12</a></li>
      </ul>
      <div class="ms-3 ms-sm-0 mt-3">
        <a class="btn btn-primary btn-sm" href="#">Next<i class="fa-solid fa-arrow-right ms-2"></i></a>
      </div>
    </nav>
  </div>

