<!-- Start Top Regions Section -->
    <div class="bg-white py-5 border-bottom">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <!-- Start Section Header Title -->
                    <div class="section-header text-center mb-5" >
                        <!-- Start Subtitle -->
                        <div class="bg-soft-primary d-inline-block fw-medium mb-3 rounded-pill section-header__subtitle text-capitalize text-primary">Top Regions</div>
                        <!-- /. End Subtitle -->
                        <!-- Start Section Header title -->
                        <h2 class="h1 fw-semibold mb-3 section-header__title text-capitalize">Explore unique <span class="underline position-relative text-primary">properties</span> in top regions</h2>
                        <!-- /.End Section Header Title -->
                        <!-- Start Section Header Sub Title -->
                        <div class="sub-title fs-16"> It is a long established fact that a reader will be distracted by the
                            <br class="d-none d-lg-block"> readable content of a page when looking at its layout.
                        </div>
                        <!-- /.End Section Header Sub Title -->
                    </div>
                    <!--/. End Section Header -->
                </div>
            </div>
            <div class="row g-3 g-sm-4 justify-content-center">
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    <!-- Start Category Item -->
                    <a href="#" class="d-block category-item position-relative">
                        <!-- Start image Container -->
                        <div class="img-container overflow-hidden position-relative rounded-3 shadow"> <img src="assets/img/regions/01.jpg" class="w-100" alt=""> </div>
                        <!-- End image Container -->
                        <div class="accordion bottom-0 d-flex flex-column h-100 justify-content-end mask overflow-hidden position-absolute start-0 w-100 z-1">
                            <div class="mask-content m-3">
                                <h2>Fox Hills</h2><span class="d-none d-md-block d-xl-none d-xxl-block">38 properties</span>
                                <div class="svg-wrap">
                                    <svg width="28px" height="12px" viewBox="0 0 28 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g class="icon-arrow" transform="translate(-714.000000, -120.000000)" fill="#000000">
                                                <path d="M737.608907,124.700519 L734.322602,121.414214 L735.736815,120 L739.990251,124.253436 L740.001047,124.242641 L741.41526,125.656854 L741.404465,125.66765 L741.41526,125.678445 L740.001047,127.092659 L739.990251,127.081863 L735.736815,131.3353 L734.322602,129.921086 L737.543169,126.700519 L714,126.700519 L714,124.700519 L737.608907,124.700519 Z"> </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /.End Category Item -->
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    <!-- Start Category Item -->
                    <a href="#" class="d-block category-item position-relative" >
                        <!-- Start image Container -->
                        <div class="img-container overflow-hidden position-relative rounded-3 shadow"> <img src="assets/img/regions/02.jpg" class="w-100" alt=""> </div>
                        <!-- End image Container -->
                        <div class="accordion bottom-0 d-flex flex-column h-100 justify-content-end mask overflow-hidden position-absolute start-0 w-100 z-1">
                            <div class="mask-content m-3">
                                <h2>The Pearl - Qanat Quartier</h2><span class="d-none d-md-block d-xl-none d-xxl-block">33 properties</span>
                                <div class="svg-wrap">
                                    <svg width="28px" height="12px" viewBox="0 0 28 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g class="icon-arrow" transform="translate(-714.000000, -120.000000)" fill="#000000">
                                                <path d="M737.608907,124.700519 L734.322602,121.414214 L735.736815,120 L739.990251,124.253436 L740.001047,124.242641 L741.41526,125.656854 L741.404465,125.66765 L741.41526,125.678445 L740.001047,127.092659 L739.990251,127.081863 L735.736815,131.3353 L734.322602,129.921086 L737.543169,126.700519 L714,126.700519 L714,124.700519 L737.608907,124.700519 Z"> </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /.End Category Item -->
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    <!-- Start Category Item -->
                    <a href="#" class="d-block category-item position-relative" >
                        <!-- Start image Container -->
                        <div class="img-container overflow-hidden position-relative rounded-3 shadow"> <img src="assets/img/regions/03.jpg" class="w-100" alt=""> </div>
                        <!-- End image Container -->
                        <div class="accordion bottom-0 d-flex flex-column h-100 justify-content-end mask overflow-hidden position-absolute start-0 w-100 z-1">
                            <div class="mask-content m-3">
                                <h2>Musheireb - Msheireb Downtown</h2><span class="d-none d-md-block d-xl-none d-xxl-block">20 properties</span>
                                <div class="svg-wrap">
                                    <svg width="28px" height="12px" viewBox="0 0 28 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g class="icon-arrow" transform="translate(-714.000000, -120.000000)" fill="#000000">
                                                <path d="M737.608907,124.700519 L734.322602,121.414214 L735.736815,120 L739.990251,124.253436 L740.001047,124.242641 L741.41526,125.656854 L741.404465,125.66765 L741.41526,125.678445 L740.001047,127.092659 L739.990251,127.081863 L735.736815,131.3353 L734.322602,129.921086 L737.543169,126.700519 L714,126.700519 L714,124.700519 L737.608907,124.700519 Z"> </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /.End Category Item -->
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    <!-- Start Category Item -->
                    <a href="#" class="d-block category-item position-relative" >
                        <!-- Start image Container -->
                        <div class="img-container overflow-hidden position-relative rounded-3 shadow"> <img src="assets/img/regions/04.jpg" class="w-100" alt=""> </div>
                        <!-- End image Container -->
                        <div class="accordion bottom-0 d-flex flex-column h-100 justify-content-end mask overflow-hidden position-absolute start-0 w-100 z-1">
                            <div class="mask-content m-3">
                                <h2>Entertainment City</h2><span class="d-none d-md-block d-xl-none d-xxl-block">52 properties</span>
                                <div class="svg-wrap">
                                    <svg width="28px" height="12px" viewBox="0 0 28 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g class="icon-arrow" transform="translate(-714.000000, -120.000000)" fill="#000000">
                                                <path d="M737.608907,124.700519 L734.322602,121.414214 L735.736815,120 L739.990251,124.253436 L740.001047,124.242641 L741.41526,125.656854 L741.404465,125.66765 L741.41526,125.678445 L740.001047,127.092659 L739.990251,127.081863 L735.736815,131.3353 L734.322602,129.921086 L737.543169,126.700519 L714,126.700519 L714,124.700519 L737.608907,124.700519 Z"> </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /.End Category Item -->
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    <!-- Start Category Item -->
                    <a href="#" class="d-block category-item position-relative" >
                        <!-- Start image Container -->
                        <div class="img-container overflow-hidden position-relative rounded-3 shadow"> <img src="assets/img/regions/05.jpg" class="w-100" alt=""> </div>
                        <!-- End image Container -->
                        <div class="accordion bottom-0 d-flex flex-column h-100 justify-content-end mask overflow-hidden position-absolute start-0 w-100 z-1">
                            <div class="mask-content m-3">
                                <h2>Al Erkyah</h2><span class="d-none d-md-block d-xl-none d-xxl-block">5 properties</span>
                                <div class="svg-wrap">
                                    <svg width="28px" height="12px" viewBox="0 0 28 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g class="icon-arrow" transform="translate(-714.000000, -120.000000)" fill="#000000">
                                                <path d="M737.608907,124.700519 L734.322602,121.414214 L735.736815,120 L739.990251,124.253436 L740.001047,124.242641 L741.41526,125.656854 L741.404465,125.66765 L741.41526,125.678445 L740.001047,127.092659 L739.990251,127.081863 L735.736815,131.3353 L734.322602,129.921086 L737.543169,126.700519 L714,126.700519 L714,124.700519 L737.608907,124.700519 Z"> </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /.End Category Item -->
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    <!-- Start Category Item -->
                    <a href="#" class="d-block category-item position-relative" >
                        <!-- Start image Container -->
                        <div class="img-container overflow-hidden position-relative rounded-3 shadow"> <img src="assets/img/regions/06.jpg" class="w-100" alt=""> </div>
                        <!-- End image Container -->
                        <div class="accordion bottom-0 d-flex flex-column h-100 justify-content-end mask overflow-hidden position-absolute start-0 w-100 z-1">
                            <div class="mask-content m-3">
                                <h2>Waterfront District</h2><span class="d-none d-md-block d-xl-none d-xxl-block">40 properties</span>
                                <div class="svg-wrap">
                                    <svg width="28px" height="12px" viewBox="0 0 28 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g class="icon-arrow" transform="translate(-714.000000, -120.000000)" fill="#000000">
                                                <path d="M737.608907,124.700519 L734.322602,121.414214 L735.736815,120 L739.990251,124.253436 L740.001047,124.242641 L741.41526,125.656854 L741.404465,125.66765 L741.41526,125.678445 L740.001047,127.092659 L739.990251,127.081863 L735.736815,131.3353 L734.322602,129.921086 L737.543169,126.700519 L714,126.700519 L714,124.700519 L737.608907,124.700519 Z"> </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /.End Category Item -->
                </div>
            </div>
            <div class="text-center mt-5" >
                <!-- Start Button -->
                <button class="btn btn-primary btn-lg d-inline-flex hstack gap-2">
                    <span>Brows More Regions</span>
                    <span class="vr"></span>
                    <i class="fa-arrow-right fa-solid fs-14"></i>
                </button>
                <!-- /.End Button -->
            </div>
        </div>
    </div>
    <!-- /.End Top Regions Section -->
