<div class="h-details_content py-5">
  <div class="container py-4">
    <div class="row g-4">
      <div class="col-lg-8 content pe-xxl-5">
        <div class="cs-content">
          <div class="mb-5 border-bottom pb-5">
            <div class="fs-16 mb-1">
              <i class="fa-solid fa-location-dot me-1"></i>{{ address }}
            </div>
            <h2 class="mt-0">Entire villa hosted by {{ host }}</h2>

            <!-- Card Property Facilities -->
            <div class="card-property-facilities gap-2 hstack mt-auto pt-3 text-center">
              <div><i class="fa-solid fa-bed text-dark me-1"></i><span>{{ bedrooms }} bedroom</span></div>
              <span class="vr"></span>
              <div><i class="fa-solid fa-bath text-dark me-1"></i><span>{{ bathrooms }} bathroom</span></div>
              <span class="vr"></span>
              <div><i class="fa-solid fa-vector-square text-dark me-1"></i><span>{{ area }} sqft</span></div>
              <span class="vr"></span>
              <div><i class="fa-solid fa-calendar-days text-dark me-1"></i><span>Built in {{ yearBuilt }}</span></div>
            </div>
          </div>

          <div class="mb-5 border-bottom pb-5">
            <h4 class="fw-semibold mb-4 text-capitalize">
              About the <span class="underline position-relative text-primary"> property</span>
            </h4>
            <p *ngFor="let paragraph of about">{{ paragraph }}</p>
          </div>

          <!-- Amenities -->
          <div class="mb-5 border-bottom pb-5">
            <h4 class="fw-semibold mb-4 text-capitalize">
              Amenities <span class="underline position-relative text-primary">available</span>
            </h4>
            <div class="row g-4">
              <div class="col-auto col-lg-3" *ngFor="let amenity of amenities">
                <div class="d-flex align-items-center text-dark">
                  <div class="flex-shrink-0">
                    <i class="{{ amenity.icon }} fs-18"></i>
                  </div>
                  <div class="flex-grow-1 fs-16 fw-medium ms-3">{{ amenity.name }}</div>
                </div>
              </div>
            </div>
          </div>

          <!-- Floor Plans -->
          <div class="mb-5 border-bottom pb-5">
            <h4 class="fw-semibold mb-4 text-capitalize">Floor <span class="underline position-relative text-primary">Plans</span></h4>
            <img [src]="floorPlanImage" alt="" class="img-fluid" />
          </div>

          <!-- Agent -->
          <div class="mb-5 border-bottom pb-5">
            <h4 class="fw-semibold mb-4 text-capitalize">Reach the <span class="underline position-relative text-primary">agent</span></h4>
            <div class="agent-card d-flex align-items-center">
              <div class="flex-shrink-0">
                <div class="avatar rounded-circle p-1 border border-primary">
                  <a [href]="agent.link"><img [src]="agent.image" alt="" class="avatar-img rounded-circle" /></a>
                  <div class="align-items-center avatar-badge bg-primary d-flex justify-content-center position-absolute rounded-circle text-white"><i class="fas fa-medal"></i></div>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1"><a [href]="agent.link">{{ agent.name }}</a></h5>
                <div>{{ agent.title }}</div>
                <div class="row g-2 mt-3">
                  <div class="col-auto">
                    <button type="button" class="btn btn-outline-primary btn-sm fw-semibold">
                      Ask Question<i class="fa-regular fa-circle-question ms-1"></i>
                    </button>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-outline-primary btn-sm fw-semibold">
                      Contact Agent<i class="fa-regular fa-address-book ms-1"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- reviews and reat -->
          <div>
            <h4 class="fw-semibold mb-4 text-capitalize"><span class="underline position-relative text-primary">reviews and reat</span></h4>
           <!-- Start Testimonial Section -->
<div class="py-5 border-top position-relative">
  <div class="container py-4 position-relative">
    <div class="row">
      <div class="col-md-10 offset-md-1 background-image" data-image-src="assets/img/world-map.png">
        <div class="section-header text-center mb-5">
          <div class="bg-soft-primary d-inline-block fw-medium mb-3 rounded-pill section-header__subtitle text-capitalize text-primary">Testimonial</div>
          <h2 class="h1 fw-semibold mb-3 section-header__title text-capitalize">
            See what our <span class="underline position-relative text-primary">clients</span> say about us
          </h2>
          <div class="sub-title fs-16">
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            <br class="d-none d-lg-block" />
            default model text, and a search for 'lorem ipsum' will uncover many.
          </div>
          <div class="align-items-center d-flex flex-wrap fs-18 gap-1 justify-content-center mt-3 text-warning">
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle-half-stroke"></i>
            <span class="text-dark">(4.8/5)</span>
          </div>
          <h6 class="text-center mb-0 mt-2 fs-17">Overall Customer Ratings</h6>
        </div>
      </div>
    </div>

    <!-- Start Testimonials -->
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let t of testimonials">
        <div class="border-0 card rounded-4 shadow h-100">
          <div class="card-body p-4 p-xxl-5 d-flex flex-column justify-content-between">
            <div>
              <div class="align-items-center d-flex flex-wrap fs-12 gap-1 text-warning mb-2">
                <ng-container *ngFor="let star of [1,2,3,4,5]">
                  <i class="fa-solid fa-circle"></i>
                </ng-container>
                <i class="fa-solid fa-circle-half-stroke"></i>
                <span class="fw-medium text-dark">({{ t.rating }}/5)</span>
              </div>
              <h5 class="fs-18">{{ t.title }}</h5>
              <p>{{ t.content }}</p>
            </div>
            <div class="d-flex align-items-center mt-4">
              <div class="flex-shrink-0">
                <img [src]="t.image" alt="" class="rounded-circle" height="60" width="60" />
              </div>
              <div class="flex-grow-1 ms-3">
                <h6 class="mb-1 fw-semibold">{{ t.name }}</h6>
                <div class="fs-15 text-primary">{{ t.username }}</div>
              </div>
              <i class="fa-brands fa-twitter fs-4 text-info"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>

          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="col-lg-4 sidebar">
        <div class="appointment-form p-3 p-lg-4 p-xl-5 rounded-4 shadow">
          <div>{{ propertyType }}</div>
          <h2 class="fw-bold">${{ price }} USD</h2>

          <ul class="nav nav-tabs mb-5" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link ms-0 active" id="tab-one" data-bs-toggle="tab" data-bs-target="#tab-one-pane" type="button" role="tab" aria-controls="tab-one-pane" aria-selected="true">Schedule a Tour</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab-two" data-bs-toggle="tab" data-bs-target="#tab-two-pane" type="button" role="tab" aria-controls="tab-two-pane" aria-selected="false">Request Quote</button>
            </li>
          </ul>

          <div class="tab-content">
            <!-- Schedule a Tour -->
            <div class="tab-pane fade show active" id="tab-one-pane" role="tabpanel">
              <form (submit)="scheduleTour()">
                <div class="row g-4">
                  <div class="col-sm-12">
                    <div class="form-group has-icon">
                      <label class="required fw-semibold text-dark">Phone Number</label>
                      <input type="number" class="form-control" placeholder="Phone Number" [(ngModel)]="form.phone" name="phone" required />
                      <i class="fa-solid fa-mobile-button form-icon fs-16 position-absolute top-50"></i>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group has-icon">
                      <label class="required fw-semibold text-dark">Appointment Date</label>
                      <input type="text" class="form-control datepicker" placeholder="mm-dd-yyyy" [(ngModel)]="form.date" name="date" />
                      <i class="fa-regular fa-calendar-days form-icon fs-16 position-absolute top-50"></i>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group has-icon">
                      <label class="required fw-semibold text-dark">Email</label>
                      <input type="email" class="form-control" placeholder="Enter Your Email" [(ngModel)]="form.email" name="email" />
                      <i class="fa-solid fa-envelope form-icon fs-16 position-absolute top-50"></i>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <button class="btn btn-primary btn-lg w-100" type="submit">Schedule a Tour</button>
                  </div>
                </div>
              </form>
            </div>

            <!-- Request Quote -->
            <div class="tab-pane fade" id="tab-two-pane" role="tabpanel">
              <form (submit)="requestQuote()">
                <div class="row g-4">
                  <div class="col-sm-12">
                    <div class="form-group has-icon">
                      <label class="required fw-semibold text-dark">Phone Number</label>
                      <input type="number" class="form-control" placeholder="Phone Number" [(ngModel)]="form.phone" name="phone2" required />
                      <i class="fa-solid fa-mobile-button form-icon fs-16 position-absolute top-50"></i>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group has-icon">
                      <label class="required fw-semibold text-dark">Appointment Date</label>
                      <input type="text" class="form-control datepicker" placeholder="mm-dd-yyyy" [(ngModel)]="form.date" name="date2" />
                      <i class="fa-regular fa-calendar-days form-icon fs-16 position-absolute top-50"></i>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group has-icon">
                      <label class="required fw-semibold text-dark">Email</label>
                      <input type="email" class="form-control" placeholder="Enter Your Email" [(ngModel)]="form.email" name="email2" />
                      <i class="fa-solid fa-envelope form-icon fs-16 position-absolute top-50"></i>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <button class="btn btn-primary btn-lg w-100" type="submit">Request info</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /. End Sidebar -->
    </div>
  </div>
</div>
