<!-- Start Hero Header One -->
<div class="hero-header hero-header__one align-items-center background-image d-flex position-relative"
     [ngStyle]="{'background-image': backgroundImage}">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h1 class="hero-header_title fw-bold mb-5 display-2">
          Find your dream home<br class="d-none d-xxl-block">
          in the best <span class="underline position-relative text-white">location</span>
        </h1>
        <!-- Start Main Search Content -->
        <form class="row g-2 main-search">
          <div class="col-md-7">
            <div class="row g-2">
              <div class="col-md-4">
                <!-- Start Search Select -->
                <div class="search-select d-flex align-items-center">
                  <i class="fa-solid fa-location-crosshairs search-icon me-2"></i>
                  <select class="form-select">
                    <option selected>Location</option>
                    <option value="1">San Diego</option>
                    <option value="2">Los Angeles</option>
                    <option value="3">San Francisco</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <!-- Start Search Select -->
                <div class="search-select d-flex align-items-center">
                  <i class="fa-solid fa-house fs-17 search-icon me-2"></i>
                  <select class="form-select">
                    <option selected>Property</option>
                    <option value="1">Offices</option>
                    <option value="2">Apartments</option>
                    <option value="3">Houses</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <!-- Start Search Select -->
                <div class="search-select d-flex align-items-center">
                  <i class="fa-solid fa-sack-dollar fs-18 search-icon me-2"></i>
                  <select class="form-select">
                    <option selected>Rent</option>
                    <option value="1">Sale</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <!-- Start Search Input -->
            <div class="search-input position-relative">
              <i class="fa-solid fa-magnifying-glass search-icon"></i>
              <input type="text" class="form-control" placeholder="Search For Properties .....">
              <a href="properties-list.html" class="btn btn-primary search-btn position-absolute top-50">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>
        </form>
        <!-- /.End Main Search Content -->
      </div>
    </div>
  </div>

</div>
<!-- /.End Hero Header One -->

