<div class="container-fluid py-5  animate-in"><div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
  <h2 class="fw-bold text-dark">
    <i class="fa-solid fa-gear me-2"></i>Account settings
  </h2>
</div>

  <div class="card shadow border-0 rounded-4 p-4 px-md-5">
    <h4 class="fw-bold mb-4 text-dark">Edit & Update</h4>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="row g-4">
        <!-- First Name -->
        <div class="col-md-6">
          <label class="form-label text-muted d-flex align-items-center">
            <i class="bi bi-person-fill fw-bold"></i> First Name
          </label>
          <input type="text" class="form-control" formControlName="first_name" placeholder="First Name">
        </div>

        <!-- Last Name -->
        <div class="col-md-6">
          <label class="form-label text-muted d-flex align-items-center">
            <i class="bi bi-person-fill fw-bold"></i> Last Name
          </label>
          <input type="text" class="form-control" formControlName="last_name" placeholder="Last Name">
        </div>

        <!-- Email -->
        <div class="col-12">
          <label class="form-label text-muted d-flex align-items-center">
            <i class="bi bi-envelope-fill fw-bold"></i> Email
          </label>
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>

        <!-- Phone Number -->
        <div class="col-12">
          <label class="form-label text-muted d-flex align-items-center">
            <i class="bi bi-telephone-inbound-fill fw-bold"></i> Phone Number
          </label>
          <input type="tel" class="form-control" formControlName="phone" placeholder="Phone Number">
        </div>

        <!-- Password -->
        <div class="col-12 position-relative">
          <label class="form-label text-muted d-flex align-items-center">
            <i class="bi bi-key-fill fw-bold"></i> Password
          </label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password">

          <!-- Change Password Link -->
          <small class="d-block text-end text-md-end mt-2 mt-md-0">
            <a routerLink="/admin-dashboard/changepassword-admin" class="text-decoration-none text-danger fw-semibold">Change Password</a>
          </small>
        </div>
      </div>

      <!-- Actions -->
      <div class="mt-4 d-flex gap-3">
        <button type="submit" class="btn btn-primary px-4">Save</button>
        <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>

