
<div class="page-loader-wrapper flex-column align-items-center justify-content-center">
  <div class="loader">
      <div class="preloader">
          <div class="spinner-layer pl-green">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>
      </div>
      <p class="fs-12 fw-semibold mb-0 mt-3 text-uppercase">Please wait...</p>
  </div>
</div>
<!-- /.Page Loader -->


<router-outlet></router-outlet>





