<!-- Start Customers Section -->
<div class="py-5 bg-gradient-primary border-bottom">
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <!-- Start Section Header Title -->
        <div class="section-header text-center mb-5">
          <!-- Start Subtitle -->
          <div class="bg-soft-primary d-inline-block fw-medium mb-3 rounded-pill section-header__subtitle text-capitalize text-primary">Our Customers</div>
          <!-- /. End Subtitle -->
          <!-- Start Section Header title -->
          <h2 class="h1 fw-semibold mb-3 section-header__title text-capitalize">Trusted by <span class="underline position-relative text-primary">thousands</span> of companies</h2>
          <!-- /.End Section Header Title -->
          <!-- Start Section Header Sub Title -->
          <div class="sub-title fs-16"> Our guests always travel the world in style. Mention Kempinski
            <br class="d-none d-lg-block"> on Instagram for a chance to be featured!
          </div>
          <!-- /.End Section Header Sub Title -->
        </div>
        <!--/. End Section Header -->
      </div>
    </div>
    <div class="row align-items-center justify-content-center g-4 g-xl-5">
      <div class="col-6 col-sm-3 col-xxl text-center">
        <div class="customer-logo"><img src="assets/img/brand-logo/01.png" alt="" class="img-fluid"></div>
      </div>
      <div class="col-6 col-sm-3 col-xxl text-center">
        <div class="customer-logo"><img src="assets/img/brand-logo/02.png" alt="" class="img-fluid"></div>
      </div>
      <div class="col-6 col-sm-3 col-xxl text-center">
        <div class="customer-logo"><img src="assets/img/brand-logo/03.png" alt="" class="img-fluid"></div>
      </div>
      <div class="col-6 col-sm-3 col-xxl text-center">
        <div class="customer-logo"><img src="assets/img/brand-logo/04.png" alt="" class="img-fluid"></div>
      </div>
      <div class="col-6 col-sm-3 col-xxl text-center">
        <div class="customer-logo"><img src="assets/img/brand-logo/05.png" alt="" class="img-fluid"></div>
      </div>
      <div class="col-6 col-sm-3 col-xxl text-center">
        <div class="customer-logo"><img src="assets/img/brand-logo/06.png" alt="" class="img-fluid"></div>
      </div>
      <div class="col-6 col-sm-3 col-xxl text-center">
        <div class="customer-logo"><img src="assets/img/brand-logo/07.png" alt="" class="img-fluid"></div>
      </div>
      <div class="col-6 col-sm-3 col-xxl text-center">
        <div class="customer-logo"><img src="assets/img/brand-logo/08.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
</div>
<!-- /. End Customers Section -->

