



                <div class="row justify-content-center">
                    <form class="col-lg-8">

                        <div class="shadow p-4 p-sm-5 rounded-4">
                            <div class="align-items-sm-center border-bottom d-sm-flex mb-5 pb-4">
                                <div class="d-flex flex-shrink-0 gap-1">

                                    <div class="align-items-center bg-soft-primary d-flex justify-content-center mb-2 rounded-circle" style="    height: 80px;
                                    width: 80px;">
                                        <i class="fa-solid fa-house-chimney fs-3 text-primary"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="fw-semibold">Information about the property</h5>
                                    <p class="mb-0">There are many variations of passages of Lorem Ipsum<br class="d-none d-lg-block"> available, but the majority have</p>
                                </div>
                            </div>
                            <div class="row gx-3 gy-4">
                                <div class="col-md-12">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Listing title</label>
                                        <input type="text" class="form-control" placeholder="Property listing title" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Address</label>
                                        <input type="email" class="form-control" placeholder="example@email.com" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">City</label>
                                        <input type="number" class="form-control" placeholder="(123) 456 - 789" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Type of the property</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Apartment</option>
                                            <option value="2">House</option>
                                            <option value="3">Office</option>
                                        </select>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Type of the listing</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">For Rent</option>
                                            <option value="2">For Sale</option>
                                        </select>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Listing price</label>
                                        <input type="number" class="form-control" placeholder="ex. $10,000" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-4">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Living area</label>
                                        <input type="number" class="form-control" placeholder="e.g. 1200 sqft" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-4">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Bedrooms</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-4">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Bathrooms</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-4">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Parking lots</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-4">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Construction sqft.</label>
                                        <input type="number" class="form-control" placeholder="ex. 4795 sqft" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-4">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Land sqft.</label>
                                        <input type="number" class="form-control" placeholder="ex. 4795 sqft" required>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Listing short description</label>
                                        <textarea class="form-control" placeholder="Please enter up to 240 characters." rows="4"></textarea>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Listing long description</label>
                                        <textarea class="form-control" placeholder="Please enter up to 4000 characters." rows="4"></textarea>
                                    </div>
                                    <!-- /.End Form Group -->
                                </div>
                                <div class="col-md-12">
                                    <div class="fw-medium text-dark mb-3">Property amenities</div>
                                    <div class="row gx-3 gy-2">
                                        <div class="col-sm-6 col-md-4">
                                            <!-- Start Form Check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultOne">
                                                <label class="form-check-label" for="flexCheckDefaultOne">
                                                    Garden
                                                </label>
                                            </div>
                                            <!-- /. End Form Check -->
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <!-- Start Form Check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultTwo">
                                                <label class="form-check-label" for="flexCheckDefaultTwo">
                                                    Security cameras
                                                </label>
                                            </div>
                                            <!-- /. End Form Check -->
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <!-- Start Form Check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultThree">
                                                <label class="form-check-label" for="flexCheckDefaultThree">
                                                    Laundry
                                                </label>
                                            </div>
                                            <!-- /. End Form Check -->
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <!-- Start Form Check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultFour">
                                                <label class="form-check-label" for="flexCheckDefaultFour">
                                                    Internet
                                                </label>
                                            </div>
                                            <!-- /. End Form Check -->
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <!-- Start Form Check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultFive">
                                                <label class="form-check-label" for="flexCheckDefaultFive">
                                                    Pool
                                                </label>
                                            </div>
                                            <!-- /. End Form Check -->
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <!-- Start Form Check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultSix">
                                                <label class="form-check-label" for="flexCheckDefaultSix">
                                                    Video surveillance
                                                </label>
                                            </div>
                                            <!-- /. End Form Check -->
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <!-- Start Form Check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultSeven">
                                                <label class="form-check-label" for="flexCheckDefaultSeven">
                                                    Laundry room
                                                </label>
                                            </div>
                                            <!-- /. End Form Check -->
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <!-- Start Form Check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultEight">
                                                <label class="form-check-label" for="flexCheckDefaultEight">
                                                    Jacuzzi
                                                </label>
                                            </div>
                                            <!-- /. End Form Check -->
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <!-- Start Form Check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultNine">
                                                <label class="form-check-label" for="flexCheckDefaultNine">
                                                    Security cameras
                                                </label>
                                            </div>
                                            <!-- /. End Form Check -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <!-- Start Form Group -->
                                    <div class="form-group">
                                        <label class="required">Listing images</label>
                                        <input type="text" class="form-control" placeholder="ex. drive.google.com/..." required>
                                    </div>
                                    <!-- /.End Form Group -->
                                    <p class="mb-0 mt-2">Please share a Google Drive or Imgur link of your listing images</p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <!-- Start Button -->
                            <button type="submit" class="btn btn-primary btn-lg d-inline-flex hstack gap-2">
                                <span>Submit for approval</span>
                                <span class="vr"></span>
                                <i class="fa-arrow-right fa-solid fs-14"></i>
                            </button>
                            <!-- /.End Button -->
                        </div>
                    </form>
                </div>

    <!-- /. End Main Content -->
