<meta name="viewport" content="width=device-width, initial-scale=1">
<h2>Manage reviews & Rating</h2>
<br>
<div class="row align-items-center mb-2">
  <div class="col-md-6">
    <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search by name, email, or date or comment" />
  </div>
</div>
<br>
<div class="container4">
  <div class="row g-4">
    <div class="col-md-6 col-lg-4" *ngFor="let review of filteredReviews() ">
      <div class="card shadow-sm border-1 rounded-4 bg-light h-200">
      <div class="d-flex flex-wrap align-items-md-start  ">
        <img [src]="review.image" class="rounded-circle border" style="margin: 10px 10px" width="48" height="48" alt="Userphoto" />
        <div class="card-body d-flex flex-column">
          <b style="align-self: start">{{review.name}} </b>
          <a href="#" class="text-muted" style="font-size: 12px  ;color: #0a73c0">{{ review.email }} </a>
          <div class="rating"><input type="radio" name="rating" value="5" id="5"  ><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
          </div>

          <p style="font-size: 10px ;text-align: right;color: #8d9193 " >{{review.date}}</p>
          <div style="font-weight: 500">{{review.comment}}</div>
        </div>
      </div>
        <div class=" flex " style="align-items: end">
          <mat-checkbox class="example-margin" style="color:brown ;margin: 15px">Abuse</mat-checkbox>
          <button class="btn btn-outline-danger" (click)="removeReview(review)" style="margin-left: 170px   ">
            <i class="bi bi-trash-fill"></i>
            Delete
          </button>
        </div>
</div>

  </div>
</div>
</div>
<br>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="show more" style="background-color: #0a73c0 ;margin-left: 1100px">
More
</button>


<br>
<div class="chart-container"><h2>Rating reviwes</h2>
  <div *ngIf="filteredReviews().length === 0" class="text-center mt-5 text-muted">
    <i class="bi bi-inbox-fill fs-1 d-block mb-2"></i>
    No reviews found.
  </div>
  <div class="card shadow-sm border-0 rounded-4 mt-5">

    <div class="card-body">
      <canvas id="ratingChart"></canvas>
    </div>
  </div>
</div>
