<div class="main-content">


  <!-- Start Counter Section with AOS and Count Animation -->
  <div class="counter-content_about bg-soft-primary mb-5 rounded-3" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="g-4 justify-content-center row">
          <div class="col-sm-6 col-xl-3 text-center">
            <div class="display-4 fw-semibold numscroller text-primary">3000</div>
            <h5 class="mt-3 mb-0">Properties Listed</h5>
          </div>
          <div class="col-sm-6 col-xl-3 text-center">
            <div class="display-4 fw-semibold numscroller text-primary" >2500</div>
            <h5 class="mt-3 mb-0">Satisfied Clients</h5>
          </div>
          <div class="col-sm-6 col-xl-3 text-center">
            <div class="display-4 fw-semibold numscroller text-primary" >6.8 B+</div>
            <h5 class="mt-3 mb-0">Total sales since 2023</h5>
          </div>
          <div class="col-sm-6 col-xl-3 text-center">
            <div class="display-4 fw-semibold numscroller text-primary" >593</div>
            <h5 class="mt-3 mb-0">Total Agents</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.End Counter -->
</div>
