.container-fluid {
  font-family: 'Segoe UI', sans-serif;
}

.bg-white {
  background-color: #fff !important;
}

.shadow-sm {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

select.form-select {
  border-radius: 12px;
}
select.form-select {
  border-radius: 12px;
  padding: 6px 16px;
  font-weight: 500;
}

canvas {
  max-height: 280px;
}
