<!-- Start Main Content -->
<div class="main-content">
  
  <div class="py-5 position-relative">
    <div class="container position-relative py-4 z-1">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <!-- Start Section Header Title -->
          <div class="section-header text-center mb-5">
            <!-- Start Section Header title -->
            <h2 class="h1 fw-semibold mb-3 section-header__title text-capitalize">Let us hear from you <span class="underline position-relative text-primary">directly!</span></h2>
            <!-- /.End Section Header Title -->
            <!-- Start Section Header Sub Title -->
            <div class="sub-title fs-16"> It is a long established fact that a reader will be distracted by the
              <br class="d-none d-lg-block"> readable content of a page when looking at its layout.
            </div>
            <!-- /.End Section Header Sub Title -->
          </div>
          <!--/. End Section Header -->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="row align-items-center">
            <div class="col-md-7 pe-xl-5 mb-5 mb-md-0">
              <!-- Start Illustration Image --><img src="assets/img/png-img/destination.png" alt="" class="img-fluid">
              <!-- /.End Illustration Image -->
            </div>
            <div class="col-md-5">
              <form>
                <!-- Start Form Group -->
                <div class="form-group mb-4">
                  <label class="required">Full Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="Naeem Khan" required>
                </div>
                <!-- /.End Form Group -->
                <!-- Start Form Group -->
                <div class="form-group mb-4">
                  <label class="required">Your Email</label>
                  <input type="email" class="form-control" id="email" placeholder="hello@email.com" required>
                </div>
                <!-- /.End Form Group -->
                <!-- Start Form Group -->
                <div class="form-group mb-4">
                  <label class="required">Your Phone</label>
                  <input type="number" class="form-control" id="phone">
                </div>
                <!-- /.End Form Group -->
                <!-- Start Form Group -->
                <div class="form-group mb-4">
                  <label class="required">Your Comments</label>
                  <textarea class="form-control" rows="5" placeholder="Tell us what we can help you with!"></textarea>
                </div>
                <!-- /.End Form Group -->
                <!-- Start Submit Button -->
                <button type="submit" class="btn btn-primary btn-lg d-inline-flex hstack gap-2">
                  <span>Send message</span>
                  <span class="vr"></span>
                  <i class="fa-arrow-right fa-solid fs-14"></i>
                </button>
                <!-- /.End Submit Button -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Section Sketch -->
    <div class="bottom-0 end-0 position-absolute section-sketch">
      <img src="assets/img/png-img/section-sketch.png" class="img-fluid" alt="">
    </div>
    <!-- /. End Section Sketch -->
  </div>
  <!-- /.End of about section -->
</div>
<!-- /. End Main Content -->
