<div class="d-flex flex-column p-4 vh-100 border-end bg-white" style="width: 260px; font-family: 'Segoe UI', sans-serif;">




  <!-- Menu Top -->
  <ul class="nav flex-column mb-4">
    <li class="nav-item">
      <a routerLink="/agent-dashboard/"
         class="nav-link link-item mb-2 d-flex align-items-center">
        <i class="fa-regular fa-envelope me-2"></i> dashboard
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/agent-dashboard/message" routerLinkActive="active-menu"
         class="nav-link link-item mb-2 d-flex align-items-center">
        <i class="fa-regular fa-envelope me-2"></i> Message
      </a>
    </li>
  </ul>

  <div class="text-uppercase text-muted small fw-semibold mb-2 px-1">Profile</div>
  <ul class="nav flex-column mb-4">
    <li><a routerLink="/agent-dashboard/profail-agent" routerLinkActive="active-menu" class="nav-link link-item mb-2 d-flex align-items-center"><i class="fa-regular fa-user me-2"></i> Profile</a></li>
    <li><a routerLink="/agent-dashboard/account-settings" routerLinkActive="active-menu" class="nav-link link-item mb-2 d-flex align-items-center"><i class="fa-solid fa-gear me-2"></i> Account Settings</a></li>
  </ul>

  <div class="text-uppercase text-muted small fw-semibold mb-2 px-1">Listing</div>
  <ul class="nav flex-column mb-4">
    <li><a routerLink="/agent-dashboard/myproperties-agent" routerLinkActive="active-menu" class="nav-link link-item mb-2 d-flex align-items-center"><i class="fa-regular fa-file-lines me-2"></i> My Properties</a></li>
    <li><a routerLink="/agent-dashboard/addproperty" routerLinkActive="active-menu" class="nav-link link-item mb-2 d-flex align-items-center"><i class="fa-solid fa-plus me-2"></i> Add New Property</a></li>

    <li>
      <a routerLink="/agent-dashboard/reviews-agent" routerLinkActive="active-menu" class="nav-link link-item mb-2 d-flex align-items-center">
        <i class="fa-regular fa-comment me-2"></i> Reviews
      </a>
    </li>
    <li>
      <a routerLink="/agent-dashboard/notification-agent" routerLinkActive="active-menu" class="nav-link link-item mb-2 d-flex align-items-center">
        <i class="fa-regular fa-calendar-xmark text-dark"></i> notification
      </a>
    </li>


  </ul>

  <div class="sidtop"></div>

  <!-- Logout -->
  <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
    <div class="bg-dark text-white rounded-circle d-flex justify-content-center align-items-center me-3" style="width: 36px; height: 36px;">
      <i class="fa-solid fa-right-from-bracket"></i>
    </div>
    <span class="fw-semibold">Logout</span>
  </a>
</div>
