<div class="main-content">
  <div class="border-bottom py-3">
      <div class="container">
          <!-- Start Back To Search -->
          <a href="agent-list.html" class="align-items-center d-flex fw-medium text-primary"><i class="fa-solid fa-chevron-left me-1"></i>Back To Agents</a>
          <!-- /. End Back To Search -->
      </div>
  </div>
  <!-- Start Agent Content -->
  <div class="py-5">
      <div class="container py-4">
          <!-- Start Agent Card -->
          <div class=" card overflow-hidden bg-grey border-0 shadow mb-5">
              <a href="agent-details.html" class="card-link"></a>
              <div class="card-body p-0">
                  <div class="g-0 row">
                      <div class="bg-white col-lg-5 col-md-6 col-xl-3 position-relative">
                          <!-- Start Agent Avatar Image -->
                          <img src=" assets/img/avatar/01.jpg" alt="" class="h-100 w-100 object-fit-cover">
                          <!-- /.End Agent Avatar Image -->
                      </div>
                      <div class="bg-white col-lg-7 col-md-6 col-xl-6 p-3 p-lg-4 p-md-3 p-sm-4">
                          <div class="d-flex flex-column h-100">
                              <div class="mb-3">
                                  <!-- Start Agent Name -->
                                  <h6 class="fs-23 mb-0">Alexander Kaminski <i class="fas fa-medal text-primary"></i></h6>
                                  <!-- /.End Agent Name -->
                                  <!-- Start Designation -->
                                  <div class="text-primary fw-semibold">Property Consultant</div>
                                  <!-- /.End Designation -->
                                  <!-- Start Agent About -->
                                  <div class="mt-3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation </div>
                                  <!-- /.End Agent About -->
                              </div>
                              <!-- Start Agent Information -->
                              <div class="border-top mt-auto pt-3">
                                  <div class="row gy-2 gx-4">
                                      <div class="col-auto">
                                          <div class="d-flex align-items-center text-dark">
                                              <div class="flex-shrink-0">
                                                  <i class="fa-solid fa-chart-line fs-18"></i>
                                              </div>
                                              <div class="flex-grow-1 fs-16 fw-medium ms-3">Active Listings : 7</div>
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                          <div class="d-flex align-items-center text-dark">
                                              <div class="flex-shrink-0">
                                                  <i class="fa-solid fa-fan fs-18"></i>
                                              </div>
                                              <div class="flex-grow-1 fs-16 fw-medium ms-3">Experience Since : 2019</div>
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                          <div class="d-flex align-items-center text-dark">
                                              <div class="flex-shrink-0">
                                                  <i class="fa-solid fa-chart-area fs-18"></i>
                                              </div>
                                              <div class="flex-grow-1 fs-16 fw-medium ms-3">Areas : Brazi</div>
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                          <div class="d-flex align-items-center text-dark">
                                              <div class="flex-shrink-0">
                                                  <i class="fa-solid fa-language fs-18"></i>
                                              </div>
                                              <div class="flex-grow-1 fs-16 fw-medium ms-3">Language : English, Brazil</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- /. End Agent Information -->
                          </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-xl-3 p-3 p-lg-4 p-md-3 p-sm-4 align-self-center">
                          <div class="row align-items-center justify-content-center g-3">
                              <!-- Start Agent Counter  -->
                              <div class="col col-xl-12">
                                  <div class="border gap-3 gap-xl-2 gap-xxl-3 hstack justify-content-center p-2 rounded-3">
                                      <div class="text-center">
                                          <div class="fw-semibold text-dark fs-23">193</div>
                                          <div class="fs-14">For Rent</div>
                                      </div>
                                      <span class="vr"></span>
                                      <div class="text-center">
                                          <div class="fw-semibold text-dark fs-23">633</div>
                                          <div class="fs-14">For Sell</div>
                                      </div>
                                      <span class="vr"></span>
                                      <div class="text-center">
                                          <div class="fw-semibold text-dark fs-23">10</div>
                                          <div class="fs-14">Commercial</div>
                                      </div>
                                  </div>
                              </div>
                              <!-- /. End Agent Counter  -->
                              <!-- Start button -->
                              <div class="col-auto col-xl-12 d-flex flex-wrap gap-2 justify-content-center position-relative z-1">
                                  <button type="button" class="border-0 btn btn-outline-default btn-sm fw-medium shadow-sm">
                                      <i class="fa fa-phone fs-14 me-1"></i>Call
                                  </button>
                                  <button type="button" class="border-0 btn btn-outline-default btn-sm fw-medium shadow-sm">
                                      <i class="fa fa-user-tie fs-14 fs-e me-1"></i>Email
                                  </button>
                                  <button type="button" class="border-0 btn btn-outline-default btn-sm fw-medium shadow-sm">
                                      <i class="fa fa-phone fs-14 me-1"></i>WhatsApp
                                  </button>
                              </div>
                              <!-- /.End button -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- /.End Agent Card -->
      </div>
      <!-- /.End Agent Content -->
  </div>
</div>
<!-- Start reviews and reat Section -->
<div class="py-5 border-top position-relative">
  <div class="container py-4 position-relative">
    <div class="row">
      <div class="col-md-10 offset-md-1 background-image" data-image-src="assets/img/world-map.png">
        <div class="section-header text-center mb-5">
          <div class="bg-soft-primary d-inline-block fw-medium mb-3 rounded-pill section-header__subtitle text-capitalize text-primary">Testimonial</div>
          <h2 class="h1 fw-semibold mb-3 section-header__title text-capitalize">
            See what our <span class="underline position-relative text-primary">clients</span> say about us
          </h2>
          <div class="sub-title fs-16">
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            <br class="d-none d-lg-block" />
            default model text, and a search for 'lorem ipsum' will uncover many.
          </div>
          <div class="align-items-center d-flex flex-wrap fs-18 gap-1 justify-content-center mt-3 text-warning">
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-circle-half-stroke"></i>
            <span class="text-dark">(4.8/5)</span>
          </div>
          <h6 class="text-center mb-0 mt-2 fs-17">Overall Customer Ratings</h6>
        </div>
      </div>
    </div>

    <!-- Start Testimonials -->
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let t of testimonials">
        <div class="border-0 card rounded-4 shadow h-100">
          <div class="card-body p-4 p-xxl-5 d-flex flex-column justify-content-between">
            <div>
              <div class="align-items-center d-flex flex-wrap fs-12 gap-1 text-warning mb-2">
                <ng-container *ngFor="let star of [1,2,3,4,5]">
                  <i class="fa-solid fa-circle"></i>
                </ng-container>
                <i class="fa-solid fa-circle-half-stroke"></i>
                <span class="fw-medium text-dark">({{ t.rating }}/5)</span>
              </div>
              <h5 class="fs-18">{{ t.title }}</h5>
              <p>{{ t.content }}</p>
            </div>
            <div class="d-flex align-items-center mt-4">
              <div class="flex-shrink-0">
                <img [src]="t.image" alt="" class="rounded-circle" height="60" width="60" />
              </div>
              <div class="flex-grow-1 ms-3">
                <h6 class="mb-1 fw-semibold">{{ t.name }}</h6>
                <div class="fs-15 text-primary">{{ t.username }}</div>
              </div>
              <i class="fa-brands fa-twitter fs-4 text-info"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>

